@import "./../../assets/styles/Variables";
@import "./../../assets/styles/Mixins";

.formClass {
  padding-bottom: 50px;
}

.blockHello {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;

  .helloText {
    color: $text;
    @include h2;
  }
}

.confBlock {
  padding-top: 150px;
  max-width: 350px;
  margin: 50px auto 0 auto;
  text-align: center;

  .confText {
    color: #ADADAD;
    @include p2;
  }
}

.blockChangePass {
  padding-top: 50px;
}