@import "./../../assets/styles/Variables";
@import "./../../assets/styles/Mixins";

input[type=file] {
  display: none;
}

.profileBlock {
  max-width: 1400px;
  padding: 0 20px 45px 20px;
  margin: 0 auto;
  text-align: center;
  background: $back url("./../../assets/img/Blob.svg") center no-repeat;
  background-blend-mode: color-dodge;

  .profileTitle {
    text-align: start;
    padding-top: 52px;
    color: $text;
    @include h1;
  }

  .profileLine {
    background-color: $text;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 55px;
  }

  .generalProfileBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -30px;

  }
}