@import "./../../../../assets/styles/Variables";
@import "./../../../../assets/styles/Mixins";

.blockChnageProfile {
  max-height: 580px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text;
    border-radius: 10px;

    &:hover {
      background-color: #ccc;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.styleLabel {
  display: inline-block;
  margin: 70px 0 55px 0;
  .imgChange {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
  }
}
.checkButton{
  position: fixed;
  bottom: 45px;
  left: 270px;
}
.blockDeleteAcc{
  position: fixed;
  bottom: 85px;
  right: 70px;
  .spanDeleteAcc{
    cursor: pointer;
    position: relative;
    top: 5px;
  }
}