@import "./../../assets/styles/Variables";
@import "./../../assets/styles/Mixins";

.styleLabel {
  height: 140px;
  width: 350px;
  margin: -3px auto 0 auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: rgba(255, 255, 255, 0.35);

}

.spanLabelText {
  display: inline-block;
  cursor: pointer;
  position: relative;
  bottom: 60px;
  color: rgba(255, 255, 255, 0.50);
  @include p2;
  background: url("./../../assets/img/clipIcon.svg") left no-repeat;
  padding-left: 30px;
}

.imgChange {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  min-width: 319px;
  max-width: 319px;
  min-height: 100px;
  max-height: 100px;
}